@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600&display=swap');

/*Default styles*/
*, 
*::before, 
*::after {
    box-sizing: border-box;
}

html {
  font-family: 'Hebo', sans-serif;
  font-size: 62.5%;
}

@media screen and (max-width: 767px) {
  html {
      font-size: 56.25%;
  }
}

body {
  margin: 0;
  background: linear-gradient(to top, #082761, #0a0a46);
  font-size: 1.6rem;
  min-height: 100vh;
}

h1, h2, h3, h4, p {
  margin: 0;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline:none;
  cursor:pointer;
}

img {
  display: block;
}
/*Default styles end*/

.container {
  max-width: 1440px;
  width: calc(100% - 40px);
  margin: 0 auto;
  padding-top: 150px;
}

/*videoplayer*/
.video-flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  position: relative;
  background-color: #070707;
  width: auto;
}

video {
  display: block;
  width: 850px;
  height: 480px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.video-big-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  background-color: transparent;
  background-image: url(assets/controls/big-btn.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
  .video-big-btn {
    width: 125px;
    height: 125px;
    margin: -70px 0 0 -60px;
  }
}

@media screen and (max-width: 768px) {
  .video-big-btn {
    width: 100px;
    height: 100px;
    margin: -60px 0 0 -50px;
  }
}

@media screen and (max-width: 550px) {
  .video-big-btn {
    width: 80px;
    height: 80px;
    margin: -55px 0 0 -40px;
  }
}

@media screen and (max-width: 420px) {
  .video-big-btn {
    width: 60px;
    height: 60px;
    margin: -45px 0 0 -30px;
  }
}

.video-big-btn:hover {
  filter: invert(1%) sepia(0%) saturate(0%) hue-rotate(3deg) brightness(95%) contrast(96%);
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0 0 0 / 72%);
  position: absolute;
  width: 100%;
  bottom: 0;
}

@media screen and (max-width: 1024px) {
  .controls {
    padding: 0 24px; 
  }
}

@media screen and (max-width: 768px) {
  .controls {
    padding: 0 18px; 
  }
}

@media screen and (max-width: 420px) {
  .controls {
    padding: 0 8px; 
  }
}

.controls-elem {
  margin: 10px 10px;
}

@media screen and (max-width: 1024px) {
  .controls-elem {
    margin: 15px 15px;
  }
}

@media screen and (max-width: 768px) {
  .controls-elem {
    margin: 12px 12px;
  }
}

.controls button {
  background-color: rgba(255, 255, 255, 0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s ease;
}

.controls button:hover {
  filter: invert(43%) sepia(0%) saturate(0%) hue-rotate(8deg) brightness(95%) contrast(86%);
}

.controls-btn {
  padding: 17px;
}

@media screen and (max-width: 1024px) {
  .controls-btn {
    padding: 15px;
  }
}

@media screen and (max-width: 768px) {
  .controls-btn {
    padding: 14px;
  }
}

@media screen and (max-width: 420px) {
  .controls-btn {
    padding: 13px;
  }
}

.prev-btn {
  width: 27px;
  height: 30px;
  background-image: url(assets/controls/prev.svg);
}

.next-btn {
  width: 27px;
  height: 30px;
  background-image: url(assets/controls/next.svg);
}

@media screen and (max-width: 1024px) {
  .prev-btn, .next-btn {
    width: 16px;
    height: 18px;
  }
}

.play-btn {
  width: 23px;
  height: 30px;
  max-width: 100%;
  max-height: 100%;
  background-image: url(assets/controls/play.svg);
}

@media screen and (max-width: 1024px) {
  .play-btn {
    width: 14px;
    height: 18px;
  }
}

.times {
  max-width: 107px;
  width: 100%;
  color: #fff;
  letter-spacing: 1px;
  font-size: 16px;
}

@media screen and (max-width: 1024px) {
  .times {
    max-width: 88px;
    letter-spacing: normal;
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .times {
    max-width: 82px;
    font-size: 14px;
  }
}

.cur-time, .dur-time {
  display: inline-block;
}

.mute-btn {
  width: 38px;
  height: 30px;
  background-image: url(assets/controls/mute.svg);
}

@media screen and (max-width: 1024px) {
  .mute-btn {
    width: 27px;
    height: 21px; 
  }
}

@media screen and (max-width: 768px) {
  .mute-btn {
    width: 27px;
    height: 21px;
  }
}

@media screen and (max-width: 420px) {
  .mute-btn {
    width: 18px;
    height: 14px; 
  }
}

.fs-btn {
  width: 35px;
  height: 35px;
  background-image: url(assets/controls/fullscreen.svg);
}

@media screen and (max-width: 1024px) {
  .fs-btn {
    width: 26px;
    height: 26px; 
  }
}

@media screen and (max-width: 420px) {
  .fs-btn {
    width: 18px;
    height: 18px; 
  }
}

.progress-bar {
  max-width: 929px;
  width: 100%;
  height: 8px;
  background: linear-gradient(to right, #710707 0%, #710707 0%, #C4C4C4 0%, #C4C4C4 100%);
  outline: none;
  transition: all 450ms ease-in;
  -webkit-appearance: none;
}

@media screen and (max-width: 1024px) {
  .progress-bar{
    height: 5px;
    }
}

.progress-bar::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  background: #ffffff;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .progress-bar::-webkit-slider-thumb {
    width: 13px;
    height: 13px;
  }
}

@media screen and (max-width: 420px) {
  .progress-bar::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
  }
}

.volume-bar {
  max-width: 80px;
  width: 100%;
  height: 8px;
  background: linear-gradient(to right, #710707 0%, #710707 100%, #C4C4C4 100%, #C4C4C4 100%);
  outline: none;
  transition: all 450ms ease-in;
  -webkit-appearance: none;
}

@media screen and (max-width: 1024px) {
  .volume-bar {
    height: 5px;
    }
}

.volume-bar::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  background: #ffffff;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
}



.manual {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  color: #c3c3c3;
  font-size: 1.6rem;
}

.manual__block {
  margin: 0 2rem;
}

.manual__item {
  margin: 9px 7px;
}

.manual__key {
  font-weight: 600;
  background-color: #6f6f66;
  color: #f3f3f3;
  padding: 3px 4px;
  border-radius: 4px;
}

.dn {
  display: none;
}